<!--
  ~ Copyright 2018 Dematic, Corp.
  ~ Licensed under the MIT Open Source License: https://opensource.org/licenses/MIT
  -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.dematic.labs.truck_alert.server.alert_generator.Main" level="INFO"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
